<% layout("/layouts/boilerplate")%>
<style>

/* UPPER FILTER PARTS */
 .filters{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid transparent;
    border-radius: 5rem;
    margin: 1rem 0rem;
    padding-left: 1.5rem;
    background-color: var(--color1);
    color: var(--color3);
}

.filter{
    text-align: center;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    opacity: .8;
    /* float: left; */
}

.filter:hover{
opacity: 1;
cursor: pointer;
}

.filter p{
font-weight: 500;
font-size: .9rem;
}

/* LISTINGS CARDS PARTS */
/* .row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */
.card{
    margin: 1.1rem;
    
}
.card-img-top{
    width: 100% !important;
    object-fit: cover;
    height: fit-content;
}
.card-head{
    text-decoration: none;
    color: black;
}

.toggles{
border: 2px solid black;
border-radius: 3rem;
margin: 1.3rem;
padding: .7rem;
float: right;
}

</style>

<div>

    <div class="container">
        <div class="row">
            <div class="col">
                <!-- filetrs parts -->
            <div class="filters">
                <div class="filter">
                    <div><i class="fa-solid fa-fire"></i></div>
                    <p>Trends</p>
                </div>
                <div class="filter">
                    <div><i class="fa-solid fa-binoculars"></i></div>
                    <p>Amazing Views</p>
                </div>
                <div class="filter">
                    <div><i class="fa-solid fa-umbrella-beach"></i></div>
                    <p>Beach</p>
                </div>
                <div class="filter">
                    <div><i class="fa-solid fa-mountain-city"></i></div>
                    <p>Mountain house</p>
                </div>
                <div class="filter">
                    <div><i class="fa-solid fa-house-chimney-window"></i></div>
                    <p>tree House</p>
                </div>
                <div class="filter">
                    <div><i class="fa-brands fa-fort-awesome"></i></div>
                    <p>castel house</p>
                </div>
                <div class="filter">
                    <div><i class="fa-solid fa-city"></i></div>
                    <p>Top cities</p>
                </div>
                <div class="filter">
                    <div><i class="fa-solid fa-city"></i></div>
                    <p>Top cities</p>
                </div>
                <div class="filter">
                    <div><i class="fa-solid fa-city"></i></div>
                    <p>Top cities</p>
                </div>
                <div class="filter">
                    <div><i class="fa-solid fa-city"></i></div>
                    <p>Top cities</p>
                </div>
    
            <!-- toggle button -->
                <div class="toggles">
                 <div class="form-check form-switch form-check-reverse">
                     <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
                     <label class="form-check-label" for="flexSwitchCheckReverse">With Taxes</label>
                 </div>
                </div>
            </div>
            </div>
        </div>
    </div>
        

    <div>
            <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 ">
                <!-- listings display  part -->
                <% for(let list of listing) { %>
                <div class="card border-0 p-1" style="width:18rem; ">
                    <a href="http://localhost:8080/listings/<%= list._id %>" class="card-head">
                    <img src="<%= list.image.url %>" class="card-img-top rounded" alt="listing-img"  style="height: 12rem;">
                    <div class="card-body">
                        <span class="card-text"><b><%= list.title %></b></span><br>
                        <span class="card-text"><%= list.location%></span><br>
                        <span class="card-text"><b>₹<%=list.price%></b> per guest</span>
                    </div>
                    </a>
                </div>
                <% } %>
            </div>
         
        </div>                
</div>     
    

